In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import re

In [2]:
# URL imported via requests library and processed with BeautifulSoup
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html_text = requests.get(url).text
soup = BeautifulSoup(html_text, 'html.parser')

In [3]:
# Below code finds the td elements in the table
neighTable = soup.find('table')
nt = neighTable.findAll('td')

In [4]:
# For loop used to get only the text from the td and append it to a new list
nt_text = []
for sa in nt:
    test = sa.get_text()
    nt_text.append(test)

In [5]:
len(nt_text)

540

In [6]:
# 3 different lists to hold the 3 column values. For loop uses index to specify which column the value belongs to
Postal_Code = []
Borough = []
Neighborhood = []
n = 0
while n < len(nt_text):
    Postal_Code.append(nt_text[n])
    Borough.append(nt_text[n+1])
    Neighborhood.append(nt_text[n+2])
    n+=3

In [7]:
# 3 lists added to a dictionary and converted to a dataframe
Dictionary = {'PostalCode':Postal_Code, 'Borough':Borough, 'Neighborhood':Neighborhood}
Canada = pd.DataFrame(Dictionary)
Canada.head()

  PostalCode             Borough                 Neighborhood
0      M1A\n      Not assigned\n               Not assigned\n
1      M2A\n      Not assigned\n               Not assigned\n
2      M3A\n        North York\n                  Parkwoods\n
3      M4A\n        North York\n           Victoria Village\n
4      M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

In [8]:
# Used RegEx to remove the Newline values
Canada['PostalCode'] = Canada.PostalCode.str.extract(r'(.*)\n')
Canada['Borough'] = Canada.Borough.str.extract(r'(.*)\n')
Canada['Neighborhood'] = Canada.Neighborhood.str.extract(r'(.*)\n')
Canada.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

In [9]:
# 77 Not assigned values that need to be removed from Borough
Canada.Borough.value_counts()

Not assigned        77
North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
East York            5
York                 5
East Toronto         5
Mississauga          1
Name: Borough, dtype: int64

In [10]:
# Created a new dataframe that has the Not assigned values removed from the dataframe
Canada = Canada[Canada['Borough'] != 'Not assigned']
Canada.Borough.value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           12
Central Toronto      9
West Toronto         6
York                 5
East Toronto         5
East York            5
Mississauga          1
Name: Borough, dtype: int64

In [11]:
# Checked Neighborhood column and found no Not assigned values
Canada[Canada['Neighborhood'] == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

In [12]:
Canada.shape

(103, 3)